*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(1, 19, 107);
}

nav{
    height: 24px;
    background-color: black;
    padding: 1rem 1rem;

}
nav li{
    color: white;
    padding: 0 1rem;
    list-style: none;
}
nav ul{
    display: flex;
}
#hero h1{
    color: white;
    position: absolute;
    top: 8rem;
    left: 2rem;
}
#hero img{
    height: 244px;
    width: 144px;
    position: absolute;
    right: 0;
    border-radius: 10px;
}